/* src/App.css */
.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"], select {
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 200px;
}

button {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

button:hover {
  background-color: #21a1f1;
}

.no-data-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.repo-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsive grid with min width of 280px */
  gap: 20px;
  width: 90%; /* Adjust width as needed */
  justify-content: center;
  align-items: stretch; /* Ensure all items stretch to fill the grid cells */
}

.repo-card {
  background: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.repo-card .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-card h2 {
  margin-top: 8px;
  font-size: 1.5em;
}

.repo-card p {
  margin: 8px 0;
  flex: 1;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #00BFFF;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 600px) {
  form {
    flex-direction: row;
  }

  input[type="text"], select, button {
    width: auto;
    margin: 0 10px;
  }
}
